.center-form{
display: flex;
flex-direction: column;
height: 100vh;
}

.center-form .center{
    margin: auto;
    background-color: whitesmoke;
    padding: 2em;
    min-width: 20%;
    border-radius: 0.5em;
}
.center-form .center h2{
    text-align: center;
    margin-bottom: 1em;
}
.center-form .center p{
    margin-top: 0.5em;
    font-size: 1em;
}