.file-page {
    display: flex;
    flex-direction: column;
    height: 100vh;


}

.file-page .file-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 70%;
    overflow-y: auto;

}

.file-page .file-view {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}

.file-page .file-view .item-file {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    border-bottom: 1px rgba(0, 0, 0, 0.31) solid;
    transition: 0.2s;
}

.file-page .file-view .item-file:hover {
    cursor: default;
}
.file-page .file-view .folder:hover {
    cursor: pointer;
}
.file-page .file-view .item-file .download-icon {
    text-align: center;
    font-size: 1.3em;
}
.file-page .file-view .item-file .download-icon a {
    text-decoration: none;
    color: black;
}
.file-page .file-view .item-file .download-icon:hover {
    cursor: pointer;

}
.selected {
    border-left: 3px rgb(0, 0, 0) solid;
}
 .closed{
    border-left: 3px rgb(0, 0, 0) solid;
    display: none;
}

.file-page .file-view .item-file {
    position: relative;
}

.file-page .file-view .item-file .file {
    width: 50%;
}

.sub_files  {
    padding-left:1em ;
}

.file-page .file-view .item-file .file .icon {
    padding-right: 1em;
}

.file-page .file-view .item-file .size {
    width: 25%;

}

.file-page .file-view .item-file .modified {
    width: 25%;
}

.file-page .file-browser-nav {
    display: flex;
    flex-direction: row;
    border-bottom: 2px rgba(0, 0, 0, 0.31) solid;
}

.file-page .file-browser-nav .file {
    width: 50%;
    text-align: left;
}

.file-page .file-browser-nav .size {
    width: 25%;
    text-align: left;
}

.file-page .file-browser-nav .modified {
    width: 25%;
    text-align: left;
}

.file-page .file-browser-nav div p {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 0.1em;
    font-weight: bold;
}

.file-page .file-browser-footer {
    display: flex;
    flex-direction: row;
}

.file-page .file-browser-progress.my-progress {
    width: 30%;
}

.file-page .toolbar {
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.file-page .toolbar div{
    width: 50%;
}
@media(max-width:620px){
    .file-page .toolbar {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    .file-page .toolbar div{
        width: 100%;
    }
    .file-page .file-container {
        margin-left: 1em;
        margin-right: 1em;
        width: auto;

    }
    
}