.navitem{
    text-decoration: none;
    margin-left: 1em;
    font-size: 1.2em;
    color: white;
    opacity: 0.5;
    transition: 0.2s;
    margin-left: 2em;
    text-align: center;
    padding: 0.5em;
}


.navitem:hover{
    color: white;

    opacity: 1;
}

.active{

    opacity: 1;
}