.profile-page{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.profile-page .content-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}
.profile-page .content-container .content-user{
    width: auto;    

    height: 100%;
    padding: 1em;

    text-align: center;


}
.profile-page .content-container .content-user h2{
    font-size: 1.5em;
    margin: 0;
}
.profile-page .content-container .content-user h2{
    font-size: 1.5em;

}
.profile-page .content-container .content-user .profile-pic img{
    width: 8em;
    height: 8em;    
    border-radius: 8em;
    object-fit: cover;

}

.profile-page .content-container .content-data{
    width: 60%;    
    margin-left: auto;
    margin-right: auto;
    padding: 1em;


}
@media (max-width:800px){



    .profile-page .content-container .content-data{
        width: auto;    
    }
}
